@model Jobboard.Web.Models.Entities.Job
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">News</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form enctype="multipart/form-data" method="post" action="/Administrator/Job/Edit" role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>JobTitle</label>
                                    <input name="JobTitle" type="text"  value="@Model.JobTitle" class="form-control" placeholder="Enter JobTitle">
                                </div>
                                <div class="form-group">
                                    <label>JobType</label>
                                    <input name="JobType" type="text" value="@Model.JobType" class="form-control" placeholder="Enter JobType">
                                </div>

                                <div class="form-group">
                                    <label>CompanyName</label>
                                    <input name="CompanyName" type="text" value="@Model.CompanyName" class="form-control" placeholder="Enter CompanyName">
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input name="Location" type="text" value="@Model.Location" class="form-control" placeholder="Enter Location">
                                </div>
                                <div class="form-group">
                                    <label>JobRegion</label>
                                    <input name="JobRegion" type="text" value="@Model.JobRegion" class="form-control" placeholder="Enter JobRegion">
                                </div>
                                @*<div class="form-group">
                                        <label>Description</label>

                                        <div class="mb-3">
                                            <textarea class="textarea" name="Description" placeholder="Enter Description..."
                                                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                        </div>


                                    </div>*@
                                @*<div class="form-group">
                                        <label>Author</label>
                                        <input name="Author" type="text" class="form-control" placeholder="Enter Author">
                                    </div>
                                    <div class="form-group">
                                        <label>Jobs</label>
                                        <select class="form-control" name="Id">
                                            @foreach (var item in ViewBag.SelectList)
                                            {
                                                <option value="@item.Id">@item.Title --> @item.NewsEntities.Count</option>
                                            }
                                        </select>
                                    </div>*@
                                <div class="form-group">
                                    <label>Picture</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input name="PictureFile" value="@Model.PictureUrl" type="file" class="custom-file-input">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Upload</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>





